* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
  color: white;
}
body {
  background: rgb(132,0,179);
background: linear-gradient(180deg, rgb(68, 2, 93) 0%, rgba(60,60,60,1) 37%, rgba(21,21,21,1) 100%);
  min-height: 100vh;
}
a {
  text-decoration: none;
}
header, footer {
  text-align: center;
  width: 100%;
  background-color: rgb(49, 42, 50);
  min-height: 12vh;

}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.buttonHeader {
  background-color: transparent;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  height: 50px;
  min-width: 100px;
  border: none;
  border-bottom: solid white 1px;
  color: white;
  border-radius: 10px;
}
.buttonHeader:hover {
  background-color: rgb(0, 0, 0);
}
.cardContainer {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  width: 400px;
  overflow-x: scroll;
}
.infobox {
  border: 2px solid rgb(38, 37, 37);
  background-color: rgb(47, 43, 48);
  padding: 20px;
  margin: 5px;
  border-radius: 20px;
}

#introContainer {
  padding: 20px;
  text-align: center;
  text-shadow: 0px 0px 3px black;
  width: 30%;
}
#main-cont-info {
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

#card-pos {
  position: relative;
  height: 400px;
  padding: 50px;
}


#c-1 {
  position: absolute;
  left: 20%;
  rotate: -10deg;
  background-image: url(../bilder/cSkarpt.png);
 
}
#c-2 {
  position: absolute;
  left: 35%;
  background-image: url(../bilder/mikuFull.jpg);
}
#c-3 {
  position: absolute;
  left: 52%;
  rotate: 24deg;
  background-image: url(../bilder/Nintendo.webp);
}

.card-pos-style {
  width: 300px;
  height: 200px;
  background-color: rgba(132,0,179,1);
  border-radius: 20px;
  padding: 10px 20px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s;
}
.card-pos-style:hover {
  width: 350px;
  height: 250px;
  z-index: 20;
  cursor: pointer;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}